@import url("./reset.css");
@import url("./variables.css");

:root {
  background-color: #fffcea;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}
